<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Registrar cliente
    </h3>
    <v-divider class="my-3"></v-divider>

    <v-container>
      <div class="mt-3">
        <v-form :lazy-validation="lazy">
          <v-alert v-if="mostrarAlerta" dense border="left" :type="alert.color">
            {{ alert.texto }}
          </v-alert>
          <v-row class="mt-3">
            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="nombre"
                :counter="40"
                :rules="nameRules"
                label="Nombre Completo"
                required
              ></v-text-field>
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="rut"
                label="RUT"
                required
                lazy
                onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 75 || event.charCode ==107"
              ></v-text-field>
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-select
                v-model="ciudad"
                :items="ciudades"
                :label="
                  !ciudad
                    ? 'Ingrese la ciudad del cliente'
                    : 'Ciudad del cliente'
                "
                outlined
              ></v-select>
            </v-col>

            <v-col cols="12" md="15" class="mt-4">
              <v-btn
                block
                color="success"
                :disabled="
                  rutIngresado(rut) ||
                  !validacionRut() ||
                  this.carga ||
                  this.ciudad.length == 0
                "
                @click="cargarCliente()"
              >
                Confirmar</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </div>
      <div class="mt-3">
        <v-btn
          class="ma-2"
          color="orange darken-2"
          dark
          @click="$router.push({ name: 'ListaClientes' })"
        >
          <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
        </v-btn>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "AgregarCliente",
  data() {
    return {
      nombre: "",
      ciudad: "",
      cargaCliente: "",
      rut: "",
      lazy: true,
      nameRules: [
        (v) => !!v || "Ingrese el nombre del cliente",
        (v) => (v && v.length > 4) || "Mínimo 4 caracteres",
      ],
      cellphoneRules: [
        (v) => !!v || "Ingrese el número de teléfono",
        (v) => (v && v.length == 9) || "El teléfono debe contener 9 dígitos",
      ],
      ciudades: [
        { value: "Llay Llay", text: "Llay Llay" },
        { value: "Catemu", text: "Catemu" },
        { value: "Panquehue", text: "Panquehue" },
        { value: "San Felipe", text: "San Felipe" },
        { value: "Santiago", text: "Santiago" },
      ],
      alert: { texto: "", color: "" },
    };
  },

  computed: {
    ...mapState(["customers", "carga"]),

    mostrarAlerta() {
      return this.rutIngresado(this.rut);
    },
  },

  methods: {
    ...mapActions(["getCustomers", "agregarCliente"]),

    validacionRut() {
      var rut = this.rut.split("");
      let rut_without_dv = rut.filter((word) => word != "-" && word != ".");
      if (rut_without_dv.length < 8 || rut_without_dv.length > 9) {
        return false;
      } else {
        if (rut_without_dv.length == 9) {
          rut_without_dv.splice(2, 0, ".");
          rut_without_dv.splice(6, 0, ".");
          rut_without_dv.splice(10, 0, "-");
        } else if (rut_without_dv.length == 8) {
          rut_without_dv.splice(1, 0, ".");
          rut_without_dv.splice(5, 0, ".");
          rut_without_dv.splice(9, 0, "-");
        }

        this.rut = rut_without_dv.join("");
        return true;
      }
      return false;
    },
    rutIngresado(rut) {
      for (var i = 0; i < this.customers.length; i++) {
        if (rut == this.customers[i].rut) {
          this.alert.texto = "Ese rut ya se encuentra registrado!";
          this.alert.color = "warning";
          return true;
        }
      }
      return false;
    },

    cargarCliente() {
      this.cargaCliente = {
        nombre: this.nombre,
        rut: this.rut,
        ciudad: this.ciudad,
      };
      // call to action
      this.agregarCliente(this.cargaCliente);
    },
  },

  created() {
    this.getCustomers();
  },
};
</script>