<template>
  <div>
    <v-container>
      <div class="mt-3">
        <h3
          :class="{
            'display-1': $vuetify.breakpoint.smAndDown,
            'display-2': $vuetify.breakpoint.md,
            'display-3': $vuetify.breakpoint.lgAndUp,
          }"
        >
          Registrar Venta
        </h3>
        <v-divider class="my-3"></v-divider>

        <v-btn
          block
          color="info"
          @click="repeatLastSale()"
          class="mt-5"
          :disabled="ventas.length == 0"
          >Repetir ultima Venta
          <v-icon>replay</v-icon>
        </v-btn>

        <v-form>
          <v-row class="mt-3">
            <v-col class="d-flex" cols="12" sm="6">
              <v-select
                v-model="select"
                :items="cilindros"
                label="Seleccione un cilindro"
              >
              </v-select>
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="cantidad"
                label="Indique la cantidad"
                min="0"
                type="number"
              />
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="precioUnitario"
                :rules="precioRules"
                min="0"
                label="Precio Unitario"
                required
                type="number"
              />
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-radio-group row v-model="formaPago">
                <v-radio
                  v-for="item of medioPago"
                  :key="item.value"
                  :label="item.text"
                  :value="item.value"
                >
                </v-radio>
              </v-radio-group>
            </v-col>

            <v-col class="d-flex" cols="12">
              <v-select
                v-model="despacho"
                :items="pagadoLocal"
                :label="`Venta incluye despacho: ${despacho}`"
                outlined
              ></v-select>
            </v-col>

            <v-col cols="12">
              <v-textarea
                outlined
                name="input-7-4"
                v-model="comentario"
                label="Comentario de la venta"
                value="Ingrese un comentario opcional"
              ></v-textarea>
            </v-col>

            <v-col cols="12" md="15" class="mt-4">
              <v-btn
                block
                color="success"
                :disabled="
                  !comprobarRespuestaSelect ||
                  this.cantidad <= 0 ||
                  this.precioUnitario < 0 ||
                  emptyPrecioUnitario ||
                  this.carga
                "
                @click="cargarVenta"
              >
                Confirmar</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </div>
      <div class="mt-3">
        <v-btn
          class="ma-2"
          color="orange darken-2"
          dark
          @click="$router.push({ name: 'Inicio' })"
        >
          <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
        </v-btn>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "Agregar",
  data() {
    return {
      texto: "",
      comentario: "",
      select: null,
      cantidad: null,
      ingresoVenta: null,
      check: [],
      precioUnitario: null,
      montoTotal: null,
      cilindros: [
        { value: null, text: "Seleccione un cilindro" },
        { value: "5 Kg", text: "5 Kg" },
        { value: "11 Kg", text: "11 Kg" },
        { value: "15 Kg", text: "15 Kg" },
        { value: "45 Kg", text: "45 Kg" },
        { value: "VM Aluminio", text: "VM Aluminio" },
        { value: "VM Fierro", text: "VM Fierro" },
      ],
      precioRules: [
        (v) => !!v || "Ingresar precio unitario",
        (v) => (v && v >= 0) || "El mínimo es 0",
      ],
      formaPago: "Efectivo",

      medioPago: [
        { value: "Efectivo", text: "Efectivo" },
        { value: "Visa", text: "Tarjeta" },
        { value: "Vale", text: "Vale" },
      ],

      despacho: "No",

      pagadoLocal: [
        //{value: null, text: "¿Pagado local con envío a domicilio?"},
        { value: "No", text: "Pago y retiro en local" },
        { value: "Si", text: "Pago local y despacho a domicilio" },
      ],
    };
  },
  methods: {
    ...mapActions(["agregarVenta"]),

    repeatLastSale() {
      this.select = this.LastSale().cilindro.kilo;
      this.cantidad = this.LastSale().cilindro.cantidad;
      this.precioUnitario = this.LastSale().cilindro.precioUnitario;
      this.formaPago = this.LastSale().formaPago;
      this.despacho = this.LastSale().despacho;
      this.comentario = this.LastSale().comentario;
    },
    LastSale() {
      if (this.ventas != null) {
        let sortedSales = this.ventas.sort((a, b) =>
          a.hora > b.hora ? 1 : b.hora > a.hora ? -1 : 0
        );
        return sortedSales[sortedSales.length - 1];
      }
      return null;
    },

    cargarVenta() {
      this.montoTotal = this.precioUnitario * this.cantidad;
      this.ingresoVenta = {
        kilo: this.select,
        cantidad: this.cantidad,
        precioUnitario: this.precioUnitario,
        montoTotal: this.montoTotal,
        formaPago: this.formaPago,
        despacho: this.despacho,
        comentario: this.comentario,
      };
      this.agregarVenta(this.ingresoVenta);
    },
  },
  computed: {
    ...mapState(["ventas", "carga"]),

    emptyPrecioUnitario() {
      if (this.precioUnitario != null) {
        return this.precioUnitario.length == 0;
      }
      return true;
    },

    getLastSale() {
      if (this.ventas.length > 0) {
        let sortedSales = this.ventas.sort((a, b) =>
          a.hora > b.hora ? 1 : b.hora > a.hora ? -1 : 0
        );
        return sortedSales[sortedSales.length - 1];
      }
      return null;
    },

    comprobarCaracteres() {
      return this.texto.length > 2 ? true : false;
    },
    comprobarRespuestaSelect() {
      return this.select != null;
    },
  },
};
</script>