<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Registrar personal
    </h3>
    <v-divider class="my-3"></v-divider>

    <v-container>
      <div class="mt-3">
        <v-form :lazy-validation="lazy">
          <v-row class="mt-3">
            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="nombre"
                :counter="12"
                :rules="nameRules"
                label="Nombre"
                required
              ></v-text-field>
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="apellido"
                :counter="12"
                :rules="lastnameRules"
                label="Apellido"
                required
              ></v-text-field>
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field v-model="rut" label="RUT" required></v-text-field>
            </v-col>
            <v-col class="d-flex" cols="12" sm="6">
              <v-switch
                v-model="chofer"
                :label="chofer ? 'Es chofer' : 'No es chofer'"
              >
              </v-switch>
            </v-col>

            <v-col cols="12" md="15" class="mt-4">
              <v-btn
                block
                color="success"
                :disabled="
                  rutIngresado(rut) ||
                  !validaRut(rut) ||
                  this.nombre.length < 3 ||
                  this.apellido.length < 5 ||
                  this.carga
                "
                @click="cargarTrabajador()"
              >
                Confirmar</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </div>

      <div class="mt-3">
        <v-btn
          class="ma-2"
          color="orange darken-2"
          dark
          @click="$router.push({ name: 'Trabajadores' })"
        >
          <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
        </v-btn>
      </div>
    </v-container>
  </div>
</template>


<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "AgregarTrabajador",
  data() {
    return {
      nombre: "",
      apellido: "",
      rut: "",
      chofer: true,
      nameRules: [
        (v) => !!v || "Ingrese el nombre del trabajador",
        (v) => (v && v.length >= 3) || "Mínimo 3 caracteres",
      ],
      lastnameRules: [
        (v) => !!v || "Ingrese el apellido del trabajador",
        (v) => (v && v.length >= 5) || "Mínimo 5 caracteres",
      ],
      lazy: true,
    };
  },

  methods: {
    ...mapActions(["agregarTrabajador"]),

    // Valida el rut con su cadena completa "XXXXXXXX-X"
    validaRut(rutCompleto) {
      if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test(rutCompleto)) return false;
      var tmp = rutCompleto.split("-");
      var digv = tmp[1];
      var rut = tmp[0];
      if (digv == "K") digv = "k";

      return this.dv(rut) == digv;
    },
    dv(T) {
      var M = 0,
        S = 1;
      for (; T; T = Math.floor(T / 10))
        S = (S + (T % 10) * (9 - (M++ % 6))) % 11;
      return S ? S - 1 : "k";
    },

    rutInvalido(rut) {
      return this.validaRut(rut) == this.rutIngresado(rut);
    },
    rutIngresado(rut) {
      for (var i = 0; i < this.employees.length; i++) {
        if (rut == this.employees[i].rut) return true;
      }
      return false;
    },

    cargarTrabajador() {
      this.cargaTrabajador = {
        nombre: this.nombre,
        apellido: this.apellido,
        rut: this.rut,
        chofer: this.chofer,
      };

      // call to action
      this.agregarTrabajador(this.cargaTrabajador);
    },
  },
  computed: {
    ...mapState(["carga", "employees"]),
  },
};
</script>