<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Editar Cliente
    </h3>
    <h6
      :class="{
        title: $vuetify.breakpoint.smAndDown,
        headline: $vuetify.breakpoint.md,
        headline: $vuetify.breakpoint.lgAndUp,
      }"
    >
      {{ customer.nombre }}
    </h6>

    <v-divider class="my-3"></v-divider>

    <div v-if="carga" class="text-center mt-5">
      <h3>Cargando Contenido...</h3>
      <pulse-loader :loading="carga"></pulse-loader>
    </div>

    <v-container v-if="!carga">
      <div class="mt-3">
        <v-form :lazy-validation="lazy" @submit.prevent="editar(customer)">
          <v-alert v-if="mostrarAlerta" dense border="left" :type="alert.color">
            {{ alert.texto }}
          </v-alert>
          <v-row class="mt-3">
            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="customer.nombre"
                :counter="40"
                :rules="nameRules"
                label="Nombre Completo"
                required
              ></v-text-field>
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="customer.rut"
                label="RUT"
                required
                lazy
                onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 75 || event.charCode ==107"
              ></v-text-field>
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-select
                v-model="customer.ciudad"
                :items="ciudades"
                :label="
                  !ciudad
                    ? 'Ingrese la ciudad del cliente'
                    : 'Ciudad del cliente'
                "
                outlined
              ></v-select>
            </v-col>

            <v-col cols="12" md="15" class="mt-4">
              <v-btn
                block
                color="success"
                type="submit"
                :disabled="
                  this.carga || rutIngresado(customer.rut) || !validacionRut()
                "
              >
                Confirmar</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </div>
      <div class="mt-3">
        <v-btn
          class="ma-2"
          color="orange darken-2"
          dark
          @click="$router.push({ name: 'ListaClientes' })"
        >
          <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
        </v-btn>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  name: "EditarCliente",
  data() {
    return {
      id: this.$route.params.id,
      nombre: "",
      rut: "",
      ciudad: "",
      lazy: true,
      nameRules: [
        (v) => !!v || "Ingrese el nombre del cliente",
        (v) => (v && v.length > 4) || "Mínimo 4 caracteres",
      ],
      ciudades: [
        { value: "Llay Llay", text: "Llay Llay" },
        { value: "Catemu", text: "Catemu" },
        { value: "Panquehue", text: "Panquehue" },
        { value: "San Felipe", text: "San Felipe" },
        { value: "Santiago", text: "Santiago" },
      ],
      alert: { texto: "", color: "" },
    };
  },
  components: {
    PulseLoader,
  },
  computed: {
    ...mapState(["customer", "carga", "customers"]),

    mostrarAlerta() {
      return this.rutIngresado(this.customer.rut);
    },
  },
  methods: {
    ...mapActions(["getCustomer", "editarCliente", "getCustomers"]),

    validacionRut() {
      var rut = this.customer.rut.split("");
      let rut_without_dv = rut.filter((word) => word != "-" && word != ".");
      if (rut_without_dv.length < 8 || rut_without_dv.length > 9) {
        return false;
      } else {
        if (rut_without_dv.length == 9) {
          rut_without_dv.splice(2, 0, ".");
          rut_without_dv.splice(6, 0, ".");
          rut_without_dv.splice(10, 0, "-");
        } else if (rut_without_dv.length == 8) {
          rut_without_dv.splice(1, 0, ".");
          rut_without_dv.splice(5, 0, ".");
          rut_without_dv.splice(9, 0, "-");
        }

        this.customer.rut = rut_without_dv.join("");
        return true;
      }
      return false;
    },
    rutIngresado(rut) {
      for (var i = 0; i < this.customers.length; i++) {
        if (this.customers[i].id != this.customer.id) {
          if (rut == this.customers[i].rut) {
            this.alert.texto = "Ese rut ya se encuentra registrado!";
            this.alert.color = "warning";
            console.log("RUT duplicado");
            return true;
          }
        }
      }
      return false;
    },

    editar(customer) {
      this.editarCliente(customer);
    },
  },

  created() {
    this.getCustomer(this.id);
    this.getCustomers();
  },
};
</script>

<style>
</style>