<template>
  <div class="mt-3">
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Editar Factura
    </h3>
    <h6
      :class="{
        title: $vuetify.breakpoint.smAndDown,
        headline: $vuetify.breakpoint.md,
        headline: $vuetify.breakpoint.lgAndUp,
      }"
    >
      Factura Nº {{ factura.folio }} de {{ factura.cliente.nombre }}
    </h6>

    <v-divider></v-divider>

    <div v-if="carga" class="text-center mt-5">
      <h3>Cargando Contenido...</h3>
      <pulse-loader :loading="carga"></pulse-loader>
    </div>

    <v-form
      @submit.prevent="editar(factura)"
      v-if="factura.id === id && !carga"
    >
      <v-alert v-if="mostrarAlerta" dense border="left" :type="alert.color">
        {{ alert.texto }}
      </v-alert>
      <v-row class="mt-3">
        <v-col class="d-flex" cols="12" sm="6">
          <v-select
            v-model="factura.cliente"
            :items="sortedCustomers"
            item-text="nombre"
            return-object
            label="Seleccione un cliente"
          >
          </v-select>
        </v-col>

        <v-col class="d-flex" cols="12" sm="6">
          <v-text-field
            v-model="factura.total"
            label="Indique el total de la factura"
            min="0"
            prefix="$"
            type="number"
          />
        </v-col>
        <v-col class="d-flex" cols="12" sm="6">
          <v-text-field
            v-model="factura.folio"
            label="Indique el folio de la factura"
            min="0"
            prefix="Nº"
            type="number"
          />
        </v-col>
        <v-col class="d-flex" cols="12" sm="6">
          <v-select
            v-model="factura.cancelada"
            :items="facturaCancelada"
            :label="
              factura.cancelada
                ? 'Estado de pago: cancelada '
                : 'Estado de pago: sin cancelar '
            "
            outlined
          ></v-select>
        </v-col>

        <v-col v-if="factura.cancelada">
          <v-menu
            v-if="!carga"
            v-model="menu2"
            :close-on-content-click="true"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="factura.fechaPago"
                :label="
                  !factura.fechaPago ? 'Ingresa fecha de pago' : 'Fecha de pago'
                "
                persistent-hint
                prepend-icon="account_balance"
                append-icon="today"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              locale="es-cl"
              :min="minimo"
              :max="maximo"
              v-model="factura.fechaPago"
              @input="menu = false"
              @change="fechaPago"
            ></v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" sm="6">
          <v-menu
            v-if="!carga"
            v-model="menu"
            :close-on-content-click="true"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="factura.fecha"
                :label="
                  !factura.fecha
                    ? 'Selecciona la fecha de la factura'
                    : 'Fecha de la factura'
                "
                persistent-hint
                prepend-icon="event"
                append-icon="mdi-magnify"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              locale="es-cl"
              :min="minimo"
              :max="maximo"
              v-model="factura.fecha"
              @input="menu = false"
              @change="fechaFactura"
            ></v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" md="15" class="mt-4">
          <v-btn
            type="submit"
            block
            color="success"
            :disabled="
              (factura.fechaPago == null && factura.cancelada) ||
              this.carga ||
              this.existeFolio()
            "
          >
            Confirmar</v-btn
          >
        </v-col>
      </v-row>
    </v-form>

    <div class="mt-3" v-if="!carga">
      <v-btn class="ma-2" color="orange darken-2" dark @click="$router.go(-1)">
        <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  name: "EditarFactura",
  data() {
    return {
      id: this.$route.params.id,
      facturaCancelada: [
        //{value: null, text: "¿Pagado local con envío a domicilio?"},
        { value: false, text: "La factura no ha sido cancelada aún" },
        { value: true, text: "La factura se ha pagado!" },
      ],
      date: null,
      minimo: "2020-04-01",
      maximo: new Date().toISOString().substr(0, 10),
      menu: null,
      menu2: null,
      invoiceDate: null,
      pago: null,
      alert: { texto: "", color: "" },
    };
  },
  components: {
    PulseLoader,
  },

  computed: {
    ...mapState(["factura", "carga", "customers", "facturas"]),
    ...mapGetters(["sortedCustomers"]),

    mostrarAlerta() {
      return this.existeFolio();
    },
  },

  methods: {
    ...mapActions(["getFactura", "getCustomers", "editarFactura"]),

    existeFolio() {
      var otrasFacturas = this.facturas.filter((item) => item.id != this.id);
      if (
        otrasFacturas.filter((item) => item.folio == this.factura.folio)
          .length > 0
      ) {
        this.alert.color = "warning";
        this.alert.texto = "Ya existe una factura con ese folio!";
        return true;
      }
      return false;
    },

    editar(factura) {
      if (!factura.cancelada) {
        factura.fechaPago = null;
      }
      console.log("Editando la factura....");
      this.editarFactura(factura);
    },
    fechaFactura() {
      const fechaCalendar = this.factura.fecha;
      this.invoiceDate = fechaCalendar;
    },
    fechaPago() {
      const fechaCalendar = this.factura.fechaPago;
      this.pago = fechaCalendar;
    },
    convertDigitIn(str) {
      return str.split("-").reverse().join("-");
    },
    getThisDate() {
      const hora_fecha = new Date();
      //const user = firebase.auth().currentUser;
      var dd = String(hora_fecha.getDate()).padStart(2, "0");
      var mm = String(hora_fecha.getMonth() + 1).padStart(2, "0"); //January is 0!
      var yyyy = hora_fecha.getFullYear();
      const today = dd + "-" + mm + "-" + yyyy;

      return today;
    },
  },

  created() {
    this.getFactura(this.id);
    this.getCustomers();
  },
};
</script>

<style>
</style>