<template>
  <div class="mt-3">
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Editar Venta
    </h3>
    <h6
      :class="{
        title: $vuetify.breakpoint.smAndDown,
        headline: $vuetify.breakpoint.md,
        headline: $vuetify.breakpoint.lgAndUp,
      }"
      v-if="!carga"
    >
      Vendedor: {{ venta.vendedor.email }} a las {{ venta.hora }} hrs!
    </h6>

    <div v-if="carga" class="text-center mt-5">
      <h3>Cargando Contenido...</h3>
      <pulse-loader :loading="carga"></pulse-loader>
    </div>
    <div v-if="!carga">
      <v-form @submit.prevent="editar(venta)" v-if="venta.id === id">
        <v-row class="mt-3">
          <v-col class="d-flex" cols="12" sm="6">
            <v-select
              v-model="venta.cilindro.kilo"
              :items="cilindros"
              label="Seleccione un cilindro"
            >
            </v-select>
          </v-col>

          <v-col class="d-flex" cols="12" sm="6">
            <v-text-field
              v-model="venta.cilindro.cantidad"
              label="Indique la cantidad"
              min="0"
              type="number"
            />
          </v-col>

          <v-col class="d-flex" cols="12" sm="6">
            <v-text-field
              v-model="venta.cilindro.precioUnitario"
              min="0"
              label="Precio Unitario"
              prefix="$"
              type="number"
            />
          </v-col>

          <v-col class="d-flex" cols="12" sm="6">
            <v-radio-group row v-model="venta.formaPago">
              <v-radio
                v-for="item of medioPago"
                :key="item.value"
                :label="item.text"
                :value="item.value"
              >
              </v-radio>
            </v-radio-group>
          </v-col>

          <v-col class="d-flex" cols="12">
            <v-select
              v-model="venta.despacho"
              :items="pagadoLocal"
              :label="`Venta incluye despacho: ${venta.despacho}`"
              outlined
            ></v-select>
          </v-col>

          <v-col cols="12">
            <v-textarea
              outlined
              name="input-7-4"
              v-model="venta.comentario"
              label="Comentario de la venta"
              value="Ingrese un comentario opcional"
            ></v-textarea>
          </v-col>

          <v-col cols="12" md="15" class="mt-4">
            <v-btn
              type="submit"
              block
              color="success"
              :disabled="
                venta.cilindro.precioUnitario < 0 ||
                venta.cilindro.cantidad <= 0 ||
                this.carga
              "
            >
              Confirmar</v-btn
            >
          </v-col>
        </v-row>
      </v-form>
    </div>
    <div class="mt-3" v-if="venta.edited">
      <b-button
        v-b-toggle.collapse-1
        block
        variant="outline-info"
        @click="getEdiciones(venta.id)"
        >Historial de Edición</b-button
      >
      <b-collapse id="collapse-1" class="mt-2">
        <b-card>
          <div v-if="carga" class="text-center mt-5">
            <h3>Cargando Contenido...</h3>
            <pulse-loader :loading="carga"></pulse-loader>
          </div>
          <b-list-group
            v-for="(item, index) of edicionesOrdenadas"
            :key="index"
          >
            <b-list-group-item
              >Cilindro: {{ item.cilindro.kilo }} - Precio:
              {{ item.cilindro.precioUnitario }} - Cantidad:
              {{ item.cilindro.cantidad }} - Forma Pago: {{ item.formaPago }} -
              Hora de edición: {{ item.edicion }} - Vendedor:
              {{ item.vendedor.email }}</b-list-group-item
            >
          </b-list-group>
        </b-card>
      </b-collapse>
    </div>

    <div class="mt-3" v-if="!carga">
      <v-btn
        class="ma-2"
        color="orange darken-2"
        dark
        @click="$router.push({ name: 'Inicio' })"
      >
        <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
      </v-btn>
    </div>
  </div>
</template>


<script>
import { mapState, mapActions, mapGetters } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  name: "Editar",
  data() {
    return {
      id: this.$route.params.id,

      texto: "",
      select: null,
      comentario: "",
      cantidad: "",
      edited: false,
      copia_venta: "",
      ingresoVenta: "",
      check: [],
      precioUnitario: 0,
      cilindros: [
        { value: null, text: "Seleccione un cilindro" },
        { value: "5 Kg", text: "5 Kg" },
        { value: "11 Kg", text: "11 Kg" },
        { value: "15 Kg", text: "15 Kg" },
        { value: "45 Kg", text: "45 Kg" },
        { value: "VM Aluminio", text: "VM Aluminio" },
        { value: "VM Fierro", text: "VM Fierro" },
      ],
      formaPago: "",

      medioPago: [
        { value: "Efectivo", text: "Efectivo" },
        { value: "Visa", text: "Tarjeta" },
        { value: "Vale", text: "Vale" },
      ],
      despacho: "",

      pagadoLocal: [
        //{value: null, text: "¿Pagado local con envío a domicilio?"},
        { value: "No", text: "Pago y retiro en local" },
        { value: "Si", text: "Pago local y despacho a domicilio" },
      ],
    };
  },
  components: {
    PulseLoader,
  },

  methods: {
    ...mapActions([
      "getVenta",
      "editarVenta",
      "ventaEditada",
      "agregarEdicionVenta",
      "getEdiciones",
    ]),

    getCopia() {
      this.copia_venta = {
        id: this.id,
        kilo: this.copiaVenta.cilindro.kilo,
        cantidad: this.copiaVenta.cilindro.cantidad,
        precioUnitario: this.copiaVenta.cilindro.precioUnitario,
        montoTotal: this.copiaVenta.montoTotal,
        formaPago: this.copiaVenta.formaPago,
        despacho: this.copiaVenta.despacho,
        comentario: this.copiaVenta.comentario,
        hora: this.copiaVenta.hora,
        fecha: this.copiaVenta.fecha,
      };
      console.log("Se ha realizado una copia de la venta");
    },

    editar(venta) {
      this.agregarEdicionVenta(this.copia_venta);
      this.venta.montoTotal =
        this.venta.cilindro.cantidad * this.venta.cilindro.precioUnitario;
      console.log(this.venta.montoTotal);

      console.log("Editando la venta....");

      this.editarVenta(venta);
    },
  },

  computed: {
    ...mapState(["venta", "carga", "ediciones", "copiaVenta"]),
    ...mapGetters(["edicionesOrdenadas"]),
  },
  created() {
    this.getVenta(this.id);
    this.getEdiciones(this.id);
    this.interval = setTimeout(() => this.getCopia(), 1000);
  },
};
</script>