<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Facturas por cliente
    </h3>
    <h6
      :class="{
        title: $vuetify.breakpoint.smAndDown,
        headline: $vuetify.breakpoint.md,
        headline: $vuetify.breakpoint.lgAndUp,
      }"
    >
      Viendo las facturas de: {{ customer.nombre }} - RUT: {{ customer.rut }}
    </h6>

    <v-divider class="my-3"></v-divider>

    <div v-if="!carga">
      <v-row>
        <v-col cols="12" sm="12" md="12" lg="8">
          <v-btn
            block
            color="success"
            @click="$router.push({ name: 'IngresarFactura' })"
          >
            Ingresar Factura</v-btn
          >
          <v-data-table
            :headers="facturaHeaders"
            :items="facturasCliente"
            :page.sync="page"
            :sort-by="['folio']"
            :sort-desc="[true]"
            :items-per-page="itemsPerPage"
            hide-default-footer
            class="elevation-2 mt-2"
            @page-count="pageCount = $event"
          >
            <template v-slot:item="row">
              <tr>
                <td>{{ row.item.fecha }}</td>
                <td>{{ row.item.folio }}</td>
                <td>
                  ${{
                    row.item.total
                      .toString()
                      .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                  }}
                </td>
                <td
                  v-if="row.item.cancelada"
                  class="text-success font-weight-bold"
                >
                  Cancelada
                </td>
                <td v-if="row.item.cancelada">{{ row.item.fechaPago }}</td>
                <td
                  v-if="!row.item.cancelada"
                  class="text-danger font-weight-bold"
                >
                  Impaga
                </td>
                <td v-if="!row.item.cancelada" class="font-weight-bold">
                  En espera
                </td>
                <td>
                  <v-menu
                    offset-x
                    origin="center center"
                    transition="scale-transition"
                  >
                    <template v-slot:activator="{ on: menu }">
                      <v-btn color="warning" dark dense v-on="{ ...menu }">
                        <v-icon dark>settings</v-icon>
                        <v-icon>arrow_drop_down</v-icon>
                      </v-btn>
                    </template>

                    <v-card
                      class="mx-auto"
                      max-width="300"
                      color="grey lighten-4"
                    >
                      <v-list shaped>
                        <v-list-item-group>
                          <v-list-item
                            @click="
                              $router.push({
                                name: 'EditarFactura',
                                params: { id: row.item.id },
                              })
                            "
                          >
                            <v-list-item-icon>
                              <v-icon color="primary"> mdi-pencil</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title> Editar</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-list-item
                            color="red"
                            @click="deleteInvoice(row.item.id)"
                          >
                            <v-list-item-icon>
                              <v-icon color="red"> delete</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title>Eliminar</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                      </v-list>
                    </v-card>
                  </v-menu>
                </td>
              </tr>
            </template>
          </v-data-table>
          <div class="text-center pt-2">
            <v-pagination v-model="page" :length="pageCount"></v-pagination>
          </div>
        </v-col>

        <v-col cols="12" sm="12" md="12" lg="4">
          <stats-card>
            <div slot="header" class="icon-danger">
              <i class="nc-icon nc-paper-2 text-danger"></i>
            </div>
            <div slot="content">
              <p class="card-category">Cobranzas</p>

              <h4 class="card-title">
                Facturas impagas: {{ facturasImpagas.invoices }}
              </h4>
            </div>
          </stats-card>

          <stats-card>
            <div slot="header" class="icon-danger">
              <i class="nc-icon nc-money-coins text-danger"></i>
            </div>
            <div slot="content">
              <p class="card-category">Total Adeudado</p>
              <h4 class="card-title">
                $
                {{
                  facturasImpagas.total
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                }}
              </h4>
            </div>
          </stats-card>
        </v-col>
      </v-row>

      <v-btn class="ma-2" color="orange darken-2" dark @click="$router.go(-1)">
        <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import StatsCard from "@/components/Cards/StatsCard.vue";
export default {
  name: "FacturasPorCliente",
  data() {
    return {
      id: this.$route.params.id,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      facturaHeaders: [
        { text: "Fecha", align: "start", value: "fecha" },
        { text: "Folio", align: "start", value: "folio" },
        { text: "Monto", align: "start", value: "total" },
        { text: "Estado", align: "start", sortable: false },
        { text: "Fecha de pago", align: "start", value: "fechaPago" },
        { text: "", align: "start", sortable: false },
      ],
    };
  },
  components: {
    StatsCard,
    PulseLoader,
  },

  computed: {
    ...mapState(["carga", "customer", "customers", "facturas"]),

    facturasCliente() {
      return this.facturas.filter((id) => id.cliente.id === this.id);
    },
    facturasImpagas() {
      let object = {};
      let invoices = 0;
      let totaldebt = 0;
      this.facturasCliente.forEach((element) => {
        if (!element.cancelada) {
          invoices += 1;
          totaldebt += element.total;
        }
      });
      object.invoices = invoices;
      object.total = totaldebt;
      return object;
    },
  },
  methods: {
    ...mapActions(["getCustomer", "getFacturas", "deleteInvoice"]),
  },

  created() {
    this.getCustomer(this.id);
    this.getFacturas();
  },
};
</script>

<style>
</style>