<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Facturas a crédito
    </h3>

    <span
      :class="{
        'title font-weight-light': $vuetify.breakpoint.smAndDown,
        'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
      }"
    >
      Gestión de cobranzas.</span
    >

    <v-divider class="my-3"></v-divider>

    <div v-if="carga" class="text-center mt-5">
      <h3>Cargando Contenido...</h3>
      <pulse-loader :loading="carga"></pulse-loader>
    </div>

    <div v-if="!carga">
      <v-row>
        <v-col cols="12" sm="12" md="12" lg="8">
          <v-btn
            block
            color="success"
            @click="$router.push({ name: 'IngresarFactura' })"
          >
            Ingresar Factura</v-btn
          >
          <v-data-table
            :headers="facturaHeaders"
            :items="sortedInvoices"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            hide-default-footer
            class="elevation-2 mt-2"
            @page-count="pageCount = $event"
          >
            <template v-slot:item="row">
              <tr>
                <td>{{ row.item.fecha }}</td>
                <td>{{ row.item.cliente.nombre }}</td>
                <td>{{ row.item.folio }}</td>
                <td>
                  ${{
                    row.item.total
                      .toString()
                      .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                  }}
                </td>
                <td
                  v-if="row.item.cancelada"
                  class="text-success font-weight-bold"
                >
                  Cancelada
                </td>
                <td
                  v-if="!row.item.cancelada"
                  class="text-danger font-weight-bold"
                >
                  Impaga
                </td>
                <td>
                  <v-menu
                    offset-x
                    origin="center center"
                    transition="scale-transition"
                  >
                    <template v-slot:activator="{ on: menu }">
                      <v-btn color="warning" dark dense v-on="{ ...menu }">
                        <v-icon dark>settings</v-icon>
                        <v-icon>arrow_drop_down</v-icon>
                      </v-btn>
                    </template>

                    <v-card
                      class="mx-auto"
                      max-width="300"
                      color="grey lighten-4"
                    >
                      <v-list shaped>
                        <v-list-item-group>
                          <v-list-item
                            color="info"
                            @click="
                              $router.push({
                                name: 'FacturasPorCliente',
                                params: { id: row.item.cliente.id },
                              })
                            "
                          >
                            <v-list-item-icon>
                              <v-icon color="info"> monetization_on</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title
                                >Ver facturas</v-list-item-title
                              >
                            </v-list-item-content>
                          </v-list-item>
                          <v-list-item
                            @click="
                              $router.push({
                                name: 'EditarFactura',
                                params: { id: row.item.id },
                              })
                            "
                          >
                            <v-list-item-icon>
                              <v-icon color="primary"> mdi-pencil</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title> Editar</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-list-item
                            color="red"
                            @click="deleteInvoice(row.item.id)"
                          >
                            <v-list-item-icon>
                              <v-icon color="red"> delete</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title>Eliminar</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                      </v-list>
                    </v-card>
                  </v-menu>
                </td>
              </tr>
            </template>
          </v-data-table>
          <div class="text-center pt-2">
            <v-pagination v-model="page" :length="pageCount"></v-pagination>
          </div>
          <v-divider></v-divider>
          <v-row v-if="!carga">
            <v-col cols="12">
              <v-card
                class="mx-auto mt-5"
                raised
                color="#fafafa"
                max-height="250"
              >
                <v-img
                  src="../assets/cilindros.jpg"
                  lazy-src="../assets/cilindros.jpg"
                  aspect-ratio="1"
                  class="grey lighten-2 text-white align-end"
                  height="150px"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular
                        indeterminate
                        color="grey lighten-5"
                      ></v-progress-circular>
                    </v-row>
                  </template>
                  <v-card-title> Registro de clientes a crédito </v-card-title>
                </v-img>
                <v-row>
                  <v-col cols="12" sm="12" md="12" lg="12">
                    <v-btn
                      block
                      color="info"
                      :class="{
                        'subtitle-2': $vuetify.breakpoint.smAndDown,
                        subheader: $vuetify.breakpoint.md,
                        subheader: $vuetify.breakpoint.lgAndUp,
                      }"
                      text
                      @click="$router.push({ name: 'ListaClientes' })"
                      >Ver lista de clientes</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" sm="12" md="12" lg="4">
          <stats-card>
            <div slot="header" class="icon-danger">
              <i class="nc-icon nc-paper-2 text-danger"></i>
            </div>
            <div slot="content">
              <p class="card-category">Cobranzas</p>

              <h4 class="card-title">
                Facturas impagas: {{ facturasImpagas.invoices }}
              </h4>
            </div>
          </stats-card>

          <stats-card>
            <div slot="header" class="icon-warning">
              <i class="nc-icon nc-fav-remove text-warning"></i>
            </div>
            <div slot="content">
              <p class="card-category">Más facturas impagas</p>
              <h4 class="card-title">
                {{ mostDebtor.nombre }}: {{ mostDebtor.cantidad }}
              </h4>
            </div>
          </stats-card>

          <stats-card>
            <div slot="header" class="icon-danger">
              <i class="nc-icon nc-money-coins text-danger"></i>
            </div>
            <div slot="content">
              <p class="card-category">Total Adeudado</p>
              <h4 class="card-title">
                $
                {{
                  facturasImpagas.total
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                }}
              </h4>
            </div>
          </stats-card>
        </v-col>
      </v-row>

      <v-btn
        class="ma-2"
        color="orange darken-2"
        dark
        @click="$router.push({ name: 'Inicio' })"
      >
        <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
      </v-btn>
    </div>
  </div>
</template>


<script>
import { mapState, mapActions, mapGetters } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import StatsCard from "@/components/Cards/StatsCard.vue";
export default {
  name: "Facturacion",

  data() {
    return {
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,

      facturaHeaders: [
        { text: "Fecha", align: "start", value: "fecha" },
        { text: "Cliente", align: "start", value: "cliente.nombre" },
        { text: "Folio", align: "start", value: "folio" },
        { text: "Monto", align: "start", value: "total" },
        { text: "Estado", align: "start", sortable: false },
        { text: "", align: "start", sortable: false },
      ],
    };
  },
  components: {
    StatsCard,
    PulseLoader,
  },

  computed: {
    ...mapState(["carga", "facturas"]),

    // facturasImpagas(){
    //  let count = 0;
    //   this.facturas.forEach(element => {
    //     if(!element.cancelada)
    //     count+=1;
    //   });
    //   return count
    // },

    sortedInvoices() {
      if (this.facturas != null) {
        let sortedFacturas = this.facturas.sort((a, b) =>
          a.folio < b.folio ? 1 : b.folio < a.folio ? -1 : 0
        );
        return sortedFacturas;
      }
      return null;
    },

    facturasImpagas() {
      let object = {};
      let invoices = 0;
      let totaldebt = 0;
      this.facturas.forEach((element) => {
        if (!element.cancelada) {
          invoices += 1;
          totaldebt += element.total;
        }
      });
      object.invoices = invoices;
      object.total = totaldebt;
      return object;
    },

    mostDebtor() {
      // se filtran solo las facturas impagas
      let invoices = this.facturas.filter((it) => !it.cancelada);
      let mostRepeated = 0;
      let masDeudor = {};
      let name = "";
      let count = 1;

      if (invoices.length == 0) return null;

      for (var i = 0; i < invoices.length; i++) {
        // apariciones de cliente i
        for (var j = 1; j < invoices.length; j++) {
          if (invoices[i].cliente.id == invoices[j].cliente.id) {
            count++;
            if (count > mostRepeated) {
              mostRepeated = count;
              name = invoices[i].cliente.nombre;
            }
          }
        }
        count = 0;
      }
      masDeudor = { nombre: name, cantidad: mostRepeated };

      return masDeudor;
    },
  },
  methods: {
    ...mapActions(["getFacturas", "deleteInvoice"]),

    // Iterate the input list and construct a grouping via a "reducer"
  },

  created() {
    this.getFacturas();
  },
};
</script>