<template>
  <div>
    <v-container>
      <div class="mt-3">
        <h3
          :class="{
            'display-1': $vuetify.breakpoint.smAndDown,
            'display-2': $vuetify.breakpoint.md,
            'display-3': $vuetify.breakpoint.lgAndUp,
          }"
        >
          Registrar Factura
        </h3>
        <v-divider class="my-3"></v-divider>

        <v-form>
          <v-alert v-if="mostrarAlerta" dense border="left" :type="alert.color">
            {{ alert.texto }}
          </v-alert>
          <v-row class="mt-3">
            <v-col class="d-flex" cols="12" sm="6">
              <v-select
                v-model="select"
                :items="sortedCustomers"
                item-text="nombre"
                item-value="nombre"
                return-object
                label="Ingrese un cliente"
              >
              </v-select>
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="folio"
                label="Ingrese Folio de Factura"
                min="0"
                required
                type="number"
              />
            </v-col>

            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="monto"
                min="0"
                label="Monto de la factura"
                required
                type="number"
              />
            </v-col>

            <v-col>
              <v-menu
                v-if="!carga"
                v-model="menu"
                :close-on-content-click="true"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="date"
                    :label="
                      !date
                        ? 'Selecciona fecha de la factura'
                        : 'Fecha de la factura'
                    "
                    persistent-hint
                    prepend-icon="event"
                    append-icon="mdi-magnify"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  locale="es-cl"
                  :min="minimo"
                  :max="maximo"
                  v-model="date"
                  @input="menu = false"
                  @change="selectDate"
                ></v-date-picker>
              </v-menu>
            </v-col>

            <v-col cols="12" md="15" class="mt-4">
              <v-btn
                block
                color="success"
                :disabled="wrongFields || existeFolio(folio)"
                @click="registrarFactura"
              >
                Confirmar</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </div>
      <div class="mt-3">
        <v-btn
          class="ma-2"
          color="orange darken-2"
          dark
          @click="$router.push({ name: 'Facturacion' })"
        >
          <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
        </v-btn>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
export default {
  name: "IngresarFactura",
  data() {
    return {
      select: null,
      folio: null,
      monto: null,
      menu: null,
      fechaCalendar: null,
      dismissSecs: 5,
      dismissCountDown: 0,
      alert: { texto: "", color: "" },
      minimo: "2020-04-01",
      mensaje: { color: "success", texto: "" },
      maximo: new Date().toISOString().substr(0, 10),
      date: null,
      customer: [
        {
          value: "nombre",
        },
      ],
    };
  },

  computed: {
    ...mapState(["customers", "carga", "facturas"]),
    ...mapGetters(["sortedCustomers"]),

    mostrarAlerta() {
      return this.existeFolio(this.folio);
    },

    wrongFields() {
      if (
        this.select == null ||
        this.folio <= 7000 ||
        this.folio > 20000 ||
        this.monto <= 0 ||
        this.carga ||
        this.fechaCalendar == null
      )
        return true;
      else return false;
    },
  },

  methods: {
    ...mapActions([
      "getCustomers",
      "buscaClientes",
      "deleteCustomer",
      "agregarFactura",
      "getFacturas",
    ]),

    getThisDate() {
      const hora_fecha = new Date();
      //const user = firebase.auth().currentUser;
      var dd = String(hora_fecha.getDate()).padStart(2, "0");
      var mm = String(hora_fecha.getMonth() + 1).padStart(2, "0"); //January is 0!
      var yyyy = hora_fecha.getFullYear();
      const today = dd + "-" + mm + "-" + yyyy;

      return today;
    },

    selectDate() {
      const today = this.getThisDate();
      const fechaCalendar = this.date;
      this.fechaCalendar = fechaCalendar;
    },
    convertDigitIn(str) {
      return str.split("-").reverse().join("-");
    },

    registrarFactura() {
      console.log("hola, estoy guardando la factura");
      let factura = {
        cliente: this.select,
        total: this.monto,
        fecha: this.fechaCalendar,
        folio: this.folio,
      };
      this.agregarFactura(factura);
    },

    existeFolio(folio) {
      for (var i = 0; i < this.facturas.length; i++) {
        if (this.facturas[i].folio == folio) {
          this.alert.color = "warning";
          this.alert.texto = "Ya existe una factura con ese folio!";
          return true;
        }
      }
      return false;
    },
  },

  created() {
    this.getCustomers();
    this.getFacturas();
  },
};
</script>

<style>
</style>