<template>
  <div>
    <div class="mt-5">
      <v-container>
        <v-layout align-center="align-center" justify-center="justify-center">
          <v-flex class="login-form text-xs-center">
            <div class="display-1 mb-3">
              <h3 class="display-1 text-center">Iniciar Sesión</h3>
            </div>

            <v-card light="light">
              <v-card-text>
                <v-form
                  class="mt-5"
                  @submit.prevent="ingresoUsuario({ email, pass })"
                >
                  <v-text-field
                    light="light"
                    prepend-icon="email"
                    label="Email"
                    v-model="email"
                  ></v-text-field>
                  <v-text-field
                    light="light"
                    prepend-icon="lock"
                    label="Contraseña"
                    :type="value ? 'password' : 'text'"
                    v-model="pass"
                    :append-icon="pass ? 'visibility' : 'visibility_off'"
                    @click:append="() => (value = !value)"
                  >
                  </v-text-field>

                  <v-btn
                    type="submit"
                    block
                    outlined
                    color="success"
                    :disabled="this.carga"
                    >Entrar</v-btn
                  >
                </v-form>
                <p class="mt-3" v-if="error">Usuario o contraseña incorrecta</p>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>



<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "Ingreso",

  data() {
    return {
      email: "",
      pass: "",
      value: String,
    };
  },
  methods: {
    ...mapActions(["ingresoUsuario"]),
  },
  computed: {
    ...mapState(["error", "carga"]),
  },
};
</script>