<template>
  <div>
    <div>
      <v-container fill-height>
        <v-layout align-center>
          <v-flex>
            <h3
              v-if="username && !carga"
              :class="{
                'display-1': $vuetify.breakpoint.smAndDown,
                'display-2': $vuetify.breakpoint.md,
                'display-3': $vuetify.breakpoint.lgAndUp,
              }"
            >
              Bienvenido {{ username }} !
            </h3>
            <h3
              v-if="!username"
              :class="{
                'display-1': $vuetify.breakpoint.smAndDown,
                'display-2': $vuetify.breakpoint.md,
                'display-3': $vuetify.breakpoint.lgAndUp,
              }"
            >
              Bienvenido {{ usuario.email }} !
            </h3>
            <span
              :class="{
                'title font-weight-light': $vuetify.breakpoint.smAndDown,
                'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
              }"
              v-if="adminPermissions"
            >
              Permisos de administrador activados</span
            >
            <v-divider class="my-3"></v-divider>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    <div class="mt-5" v-if="!carga">
      <v-btn
        block
        color="orange"
        dark
        @click="$router.push({ name: 'Agregar' })"
      >
        Registrar nueva venta</v-btn
      >
    </div>
    <div v-if="carga" class="text-center mt-5">
      <h3>Cargando Contenido...</h3>
      <pulse-loader :loading="carga"></pulse-loader>
    </div>
    <h4
      v-if="!carga"
      :class="{
        'text-center headline mt-4': $vuetify.breakpoint.smAndDown,
        'text-center display-1 mt-5': $vuetify.breakpoint.mdAndUp,
      }"
    >
      Detalle de ventas del día
    </h4>
    <div v-if="!carga" class="mt-2">
      <v-menu
        v-if="!carga"
        v-model="menu2"
        :close-on-content-click="true"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="date"
            :label="!date ? 'Ver caja de días previos' : 'Revisando fecha'"
            persistent-hint
            prepend-icon="event"
            append-icon="mdi-magnify"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          locale="es-cl"
          :min="minimo"
          :max="maximo"
          v-model="date"
          @input="menu2 = false"
          @change="selectDate"
        ></v-date-picker>
      </v-menu>

      <v-spacer></v-spacer>
    </div>

    <div class="mt-3" v-if="!carga && date == this.today()">
      <v-data-table
        :headers="headersSales"
        fixed-header
        :items="sortedSales"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :sort-desc="[true]"
        hide-default-footer
        class="elevation-2"
        @page-count="pageCount = $event"
      >
        <template v-slot:item="row">
          <tr
            :class="{
              'table-danger': row.item.despacho === 'Si',
              'table-warning': row.item.edited,
            }"
          >
            <td>{{ row.item.cilindro.kilo }}</td>
            <td>
              ${{
                row.item.cilindro.precioUnitario
                  .toString()
                  .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
              }}
            </td>
            <td>{{ row.item.cilindro.cantidad }}</td>
            <td>{{ row.item.formaPago }}</td>
            <td>{{ row.item.hora }}</td>
            <td>{{ row.item.vendedor.email }}</td>
            <td>
              <v-menu
                v-if="acciones"
                offset-x
                origin="center center"
                transition="scale-transition"
                :disabled="
                  row.item.vendedor.email != usuario.email && !adminPermissions
                "
              >
                <template v-slot:activator="{ on: menu }">
                  <v-btn color="warning" dark dense v-on="{ ...menu }">
                    <v-icon dark>settings</v-icon>
                    <v-icon>arrow_drop_down</v-icon>
                  </v-btn>
                </template>
                <v-card class="mx-auto" max-width="300" color="grey lighten-4">
                  <v-list shaped>
                    <v-list-item-group>
                      <v-list-item
                        @click="
                          $router.push({
                            name: 'Editar',
                            params: { id: row.item.id },
                          })
                        "
                      >
                        <v-list-item-icon>
                          <v-icon color="primary"> mdi-pencil</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title> Editar</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item color="red" @click="borrarVenta(row.item)">
                        <v-list-item-icon>
                          <v-icon color="red"> delete</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title>Eliminar</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-card>
              </v-menu>
            </td>
            <td>
              <v-btn
                color="info"
                class="ml-2"
                v-b-popover.hover.top="row.item.comentario"
                title="Comentario de venta"
                v-if="row.item.comentario"
              >
                <v-icon>info</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination v-model="page" :length="pageCount"></v-pagination>
      </div>
    </div>

    <div class="mt-3" v-if="!this.carga && date != this.today()">
      <v-data-table
        :headers="headersPastSales"
        fixed-header
        :items="sortedSales"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :sort-desc="[true]"
        hide-default-footer
        class="elevation-2"
        @page-count="pageCount = $event"
      >
        <template v-slot:item="row">
          <tr
            :class="{
              'table-danger': row.item.despacho === 'Si',
              'table-warning': row.item.edited,
            }"
          >
            <td>{{ row.item.cilindro.kilo }}</td>
            <td>
              ${{
                row.item.cilindro.precioUnitario
                  .toString()
                  .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
              }}
            </td>
            <td>{{ row.item.cilindro.cantidad }}</td>
            <td>{{ row.item.formaPago }}</td>
            <td>{{ row.item.hora }}</td>
            <td>{{ row.item.vendedor.email }}</td>
            <td>
              <v-btn
                color="info"
                class="ml-2"
                v-b-popover.hover.top="row.item.comentario"
                title="Comentario de venta"
                v-if="row.item.comentario"
              >
                <v-icon>info</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination v-model="page" :length="pageCount"></v-pagination>
      </div>
    </div>

    <div v-if="!carga">
      <v-divider></v-divider>

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-warning">
              <i class="nc-icon nc-bank text-warning"></i>
            </div>
            <div slot="content">
              <p class="card-category">Total en caja</p>
              <h4 class="card-title" v-if="cajaDeHoy != null">
                $
                {{ cajaDeHoy.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}
              </h4>
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-success">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
            <div slot="content">
              <p class="card-category">Efectivo de hoy</p>
              <h4 class="card-title" v-if="efectivo != null">
                $
                {{ efectivo.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}
              </h4>
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-danger">
              <i class="nc-icon nc-credit-card text-danger"></i>
            </div>
            <div slot="content">
              <p class="card-category">Tarjetas de hoy</p>
              <h4 class="card-title" v-if="tarjeta != null">
                $ {{ tarjeta.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}
              </h4>
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-info">
              <v-btn
                class="mx-4 mb-3"
                fab
                dark
                color="info"
                @click="$router.push({ name: 'Sumario' })"
              >
                <v-icon dark> format_list_bulleted </v-icon>
              </v-btn>
            </div>
            <div slot="content">
              <h4 class="card-title">Detalle de ventas</h4>
            </div>
          </stats-card>
        </div>
      </div>
    </div>

    <v-banner sigle-line v-if="!carga" color="#f5f5f5">
      <v-icon slot="icon" color="warning" size="36"> local_atm </v-icon>
      Registro de ingreso y retiro de efectivo

      <template v-slot:actions>
        <v-btn
          color="primary"
          text
          @click="$router.push({ name: 'RetiroCaja' })"
        >
          Ir a Caja
        </v-btn>
      </template>
    </v-banner>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import moment from "moment";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import StatsCard from "@/components/Cards/StatsCard.vue";
export default {
  name: "Inicio",

  data() {
    return {
      sortDesc: false,
      copia_venta: "",
      horaActual: null,
      menu2: "",
      acciones: true,
      minimo: "2020-04-01",
      maximo: this.today(),
      date: this.today(),
      fields: [
        "Cilindro",
        "Cantidad",
        "Monto Total",
        "Forma de Pago",
        "Vendedor",
        "Hora de venta",
      ],
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      headersSales: [
        {
          text: "Cilindro",
          align: "start",
          value: "cilindro.kilo",
        },
        {
          text: "Precio Unitario",
          value: "cilindro.precioUnitario",
          align: "start",
        },
        { text: "Cantidad", value: "cilindro.cantidad", align: "start" },
        { text: "Forma de pago", value: "formaPago", align: "start" },
        { text: "Hora de venta", value: "hora", align: "start" },
        {
          text: "Responsable",
          value: "usuario.email",
          align: "start",
          sortable: false,
        },
        { text: "Operaciones", sortable: false },
        { text: "Comentario", sortable: false },
      ],
      headersPastSales: [
        {
          text: "Cilindro",
          align: "start",
          value: "cilindro.kilo",
        },
        {
          text: "Precio Unitario",
          value: "cilindro.precioUnitario",
          align: "start",
        },
        { text: "Cantidad", value: "cilindro.cantidad", align: "start" },
        { text: "Forma de pago", value: "formaPago", align: "start" },
        { text: "Hora de venta", value: "hora", align: "start" },
        {
          text: "Responsable",
          value: "usuario.email",
          align: "start",
          sortable: false,
        },
        { text: "Comentario", sortable: false },
      ],
      action: "",
      item: 1,
      operaciones: [
        { text: "Editar", icon: "mdi-pencil", color: "primary" },
        { text: "Eliminar", icon: "delete", color: "red" },
      ],
    };
  },
  components: {
    PulseLoader,
    StatsCard,
  },

  computed: {
    ...mapState([
      "usuario",
      "ventas",
      "carga",
      "caja",
      "visas",
      "retiros",
      "cajaDiaPrevio",
      "cajaActual",
      "rol",
    ]),

    sortedSales() {
      if (this.ventas != null) {
        let sortedSales = this.ventas.sort((a, b) =>
          a.hora > b.hora ? -1 : b.hora > a.hora ? 1 : 0
        );
        return sortedSales;
      }
      return null;
    },
    username() {
      if (this.usuario.uid == this.rol.id) return this.rol.nombre;
      else return null;
    },

    efectivo() {
      return this.caja;
    },
    tarjeta() {
      return this.visas;
    },

    cajaDeHoy() {
      let total = 0;
      if (this.date == this.today()) {
        total = this.cajaDiaPrevio.total + this.retirosDelDia + this.efectivo;
      } else total = this.cajaActual.total;

      // guardar esto de forma global
      return total;
    },

    retirosDelDia() {
      let retirosDeHoy = null;
      let totalRetiro = 0;

      retirosDeHoy = this.retiros.filter((retiro) => retiro.fecha == this.date);

      retirosDeHoy.forEach((element) => {
        totalRetiro += element.monto;
      });

      return totalRetiro;
    },

    adminPermissions() {
      if (this.rol.admin) {
        return true;
      }
      return false;
    },
  },
  methods: {
    ...mapActions([
      "getVentasToday",
      "getVentasSomeDay",
      "eliminarVenta",
      "getRetiros",
      "getVenta",
      "agregarVentaBorrada",
      "guardarCopiaVenta",
      "cerrarCajaDelDia",
      "getCajaDelDia",
      "getCajaActual",
      "getRol",
    ]),

    borrarVenta(item) {
      this.copia_venta = {
        id: item.id,
        kilo: item.cilindro.kilo,
        cantidad: item.cilindro.cantidad,
        precioUnitario: item.cilindro.precioUnitario,
        montoTotal: item.montoTotal,
        formaPago: item.formaPago,
        despacho: item.despacho,
        comentario: item.comentario,
        hora: item.hora,
        fecha: this.convertDigitIn(item.fecha),
      };
      this.agregarVentaBorrada(this.copia_venta);
      this.eliminarVenta(item.id);
      console.log("Venta eliminada y almacenada en papelera");
      this.interval = setTimeout(() => this.cerrarCaja(), 3000);
    },

    selectDate() {
      const fechaCalendar = this.date;
      if (this.today() === fechaCalendar) {
        this.getVentasToday();
        this.acciones = true;
      } else {
        this.getVentasSomeDay(this.convertDigitIn(fechaCalendar));
        this.getCajaActual(this.convertDigitIn(this.date));
        this.acciones = false;
      }
    },

    convertDigitIn(str) {
      return str.split("-").reverse().join("-");
    },
    yesterday(date) {
      let fecha = new Date(date);
      fecha.setTime(fecha.getTime() + fecha.getTimezoneOffset() * 60 * 4000);
      fecha.setDate(fecha.getDate() - 1);

      var dd = String(fecha.getDate()).padStart(2, "0");
      var mm = String(fecha.getMonth() + 1).padStart(2, "0"); //January is 0!
      var yyyy = fecha.getFullYear();

      var yesterday = `${dd}-${mm}-${yyyy}`;

      return yesterday;
    },
    getHour() {
      const hora_fecha = new Date();
      this.horaActual = hora_fecha.getHours();
    },

    today() {
      return moment().format("YYYY-MM-DD");
    },
    cerrarCaja() {
      if (this.usuario != null) {
        this.getHour();
        if (this.cajaDeHoy > 0) {
          this.cerrarCajaDelDia({
            total: this.cajaDeHoy,
            fecha: this.convertDigitIn(this.today()),
          });
          console.log("Closing cashier at: ", this.horaActual);
        }
      }
    },
  },
  created() {
    this.getVentasToday();
    this.getHour();
    this.getRetiros();
    console.log(this.usuario.uid);
    this.getRol(this.usuario.uid);

    if (this.horaActual >= 9 && this.horaActual <= 21)
      this.interval = setTimeout(() => this.cerrarCaja(), 3000);
    let ayer = this.yesterday(this.date);
    this.getCajaDelDia(ayer);
  },
};
</script>