<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Descuentos realizados
    </h3>
    <v-divider class="my-3"></v-divider>

    <div class="mt-5" v-if="!carga">
      <v-data-table
        :headers="headers"
        fixed-header
        :items="discounts"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        hide-default-footer
        class="elevation-2"
        @page-count="pageCount = $event"
      >
        <template v-slot:item="row">
          <tr>
            <td>{{ row.item.nombre }}</td>
            <td>{{ row.item.rut }}</td>
            <td>{{ row.item.ciudad }}</td>
            <td>{{ row.item.direccion }}</td>
            <td>{{ row.item.telefono }}</td>
            <td>{{ row.item.formato }}</td>
            <td>{{ row.item.fechaCompra }}</td>
            <td>{{ row.item.horaCompra }}</td>
            <td>{{ row.item.camion }}</td>
            <td v-if="admin">
              <v-btn dark @click="deleteCustomer(row.item.id)">
                <v-icon color="red">delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination v-model="page" :length="pageCount"></v-pagination>
      </div>
    </div>

    <div class="mt-3">
      <v-btn
        class="ma-2"
        color="orange darken-2"
        dark
        @click="$router.push({ name: 'Clientes' })"
      >
        <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
      </v-btn>
    </div>
  </div>
</template>



<script>
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  name: "ListaDescuentos",
  data() {
    return {
      headers: [
        { text: "Nombre", align: "start", value: "nombre" },
        { text: "RUT", value: "rut" },
        { text: "Ciudad", value: "ciudad" },
        { text: "Dirección", value: "direccion" },
        { text: "Teléfono", value: "telefono" },
        { text: "Cilindro", value: "formato" },
        { text: "Fecha compra", value: "fechaCompra" },
        { text: "Hora compra", value: "horaCompra" },
        { text: "Camión", value: "camion" },
      ],
      textoclientes: "",
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
    };
  },

  computed: {
    ...mapState(["admin", "discounts", "carga"]),
  },

  methods: {
    ...mapActions(["getDiscounts"]),
  },

  created() {
    this.getDiscounts();
  },
};
</script>