<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Clientes a crédito
    </h3>
    <span
      :class="{
        'title font-weight-light': $vuetify.breakpoint.smAndDown,
        'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
      }"
    >
      Facturables con plazo a 30 días.</span
    >

    <v-divider class="my-3"></v-divider>

    <div v-if="carga" class="text-center mt-5">
      <h3>Cargando Contenido...</h3>
      <pulse-loader :loading="carga"></pulse-loader>
    </div>

    <form @submit.prevent="buscaClientes(textoclientes)" v-if="!carga">
      <v-text-field
        v-model="textoclientes"
        append-icon="mdi-magnify"
        label="Buscar"
        v-on:keyup="buscaClientes(textoclientes)"
      ></v-text-field>
    </form>

    <div class="mt-5" v-if="!carga">
      <v-btn
        block
        color="success"
        @click="$router.push({ name: 'AgregarCliente' })"
      >
        Añadir nuevo cliente</v-btn
      >
      <v-data-table
        :headers="headers"
        fixed-header
        :items="clientesFiltrados"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :sort-by="['nombre']"
        :sort-desc="[false]"
        hide-default-footer
        class="elevation-2 mt-3"
        @page-count="pageCount = $event"
      >
        <template v-slot:item="row">
          <tr>
            <td>{{ row.item.nombre }}</td>
            <td>{{ row.item.rut }}</td>
            <td>{{ row.item.ciudad }}</td>

            <td>
              <v-menu
                offset-x
                origin="center center"
                transition="scale-transition"
              >
                <template v-slot:activator="{ on: menu }">
                  <v-btn color="warning" dark dense v-on="{ ...menu }">
                    <v-icon dark>settings</v-icon>
                    <v-icon>arrow_drop_down</v-icon>
                  </v-btn>
                </template>

                <v-card class="mx-auto" max-width="300" color="grey lighten-4">
                  <v-list shaped>
                    <v-list-item-group>
                      <v-list-item
                        color="red"
                        @click="
                          $router.push({
                            name: 'FacturasPorCliente',
                            params: { id: row.item.id },
                          })
                        "
                      >
                        <v-list-item-icon>
                          <v-icon color="info"> monetization_on</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title>Ver facturas</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item
                        @click="
                          $router.push({
                            name: 'EditarCliente',
                            params: { id: row.item.id },
                          })
                        "
                      >
                        <v-list-item-icon>
                          <v-icon color="primary"> mdi-pencil</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title> Editar</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item
                        color="red"
                        @click="deleteCustomer(row.item.id)"
                      >
                        <v-list-item-icon>
                          <v-icon color="red"> delete</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title>Eliminar</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-card>
              </v-menu>
            </td>
          </tr>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination v-model="page" :length="pageCount"></v-pagination>
      </div>
    </div>

    <div class="mt-3" v-if="!carga">
      <v-btn
        class="ma-2"
        color="orange darken-2"
        dark
        @click="$router.push({ name: 'Facturacion' })"
      >
        <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
      </v-btn>
    </div>
  </div>
</template>


<script>
import { mapState, mapActions, mapGetters } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  name: "ListaClientes",
  data() {
    return {
      headers: [
        { text: "Nombre", align: "start", value: "nombre" },
        { text: "RUT", value: "rut" },
        { text: "Ciudad", value: "ciudad" },
        { text: "", sortable: false },
      ],
      textoclientes: "",
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
    };
  },
  components: {
    PulseLoader,
  },

  computed: {
    ...mapState(["customers", "carga"]),
    ...mapGetters(["clientesFiltrados"]),
  },

  methods: {
    ...mapActions(["getCustomers", "buscaClientes", "deleteCustomer"]),
  },

  created() {
    this.getCustomers();
    this.buscaClientes("");
  },
};
</script>