<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Añadir o retirar caja
    </h3>
    <h3
      :class="{
        'title font-weight-light': $vuetify.breakpoint.smAndDown,
        'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
      }"
      v-if="cajaHoy"
    >
      Dinero en caja: ${{
        cajaHoy.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      }}
    </h3>

    <v-divider class="my-3"></v-divider>
    <div>
      <form>
        <v-alert v-if="montoError" dense border="left" :type="alert.color">
          {{ alert.texto }}
        </v-alert>
        <v-row class="mt-2">
          <v-col class="d-flex" cols="12" sm="4">
            <v-radio-group row v-model="retirar">
              <v-radio
                v-for="item of cajaOptions"
                :key="item.value"
                :label="item.text"
                :value="item.value"
              >
              </v-radio>
            </v-radio-group>
          </v-col>

          <v-col class="d-flex" cols="12" sm="8">
            <v-text-field
              v-model="montoRetiro"
              :label="
                retirar
                  ? 'Ingrese el monto a retirar '
                  : 'Ingrese el monto a agregar'
              "
              min="0"
              type="number"
            />
          </v-col>

          <v-col cols="12" class="d-flex">
            <!-- <p class="mt-3">Motivo: </p>
                        <b-form-input type="text" v-model="motivo" :state="comprobarCaracteres" class="mt-3"></b-form-input> -->
            <v-text-field
              :label="
                comprobarCaracteres ? 'Motivo' : 'Motivo - Mínimo 5 caracteres'
              "
              outlined
              v-model="motivo"
              :state="comprobarCaracteres"
              class="mt-3"
              :append-icon="comprobarCaracteres ? 'done' : 'error'"
            >
            </v-text-field>
          </v-col>

          <v-col cols="12">
            <v-btn
              block
              color="success"
              :disabled="
                this.montoRetiro <= 0 ||
                this.montoExcedido ||
                !this.comprobarCaracteres ||
                this.carga
              "
              @click="efectuarRetiro"
            >
              Confirmar
            </v-btn>
          </v-col>
        </v-row>
      </form>
    </div>
    <br />
    <hr class="my-4" />

    <Retiros> </Retiros>
    <v-btn
      class="ma-2"
      color="orange darken-2"
      dark
      @click="$router.push({ name: 'Inicio' })"
    >
      <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
    </v-btn>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import moment from "moment";
import Retiros from "@/components/HistorialRetiros.vue";
export default {
  name: "RetiroCaja",
  components: {
    Retiros,
  },
  data() {
    return {
      motivo: "",
      retirar: true,
      cajaOptions: [
        { value: true, text: "Retirar Dinero" },
        { value: false, text: "Ingresar Dinero" },
      ],
      montoRetiro: "",
      respuestas: {},
      alert: { texto: "", color: "" },
    };
  },
  computed: {
    ...mapState(["carga", "cajaActual"]),
    comprobarCaracteres() {
      return this.motivo.length > 4 ? true : false;
    },

    montoError() {
      if (this.retirar) {
        if (parseInt(this.montoRetiro) > parseInt(this.cajaHoy)) {
          this.alert.color = "warning";
          this.alert.texto = "No se puede retirar más de lo que hay en caja!";
          return true;
        }
        if (parseInt(this.montoRetiro) < 0) {
          this.alert.color = "warning";
          this.alert.texto = "Ingresar solo valores enteros positivos!";
          return true;
        }
      }
      return false;
    },
    cajaHoy() {
      return this.cajaActual.total;
    },
  },
  methods: {
    ...mapActions(["generarRetiro", "getCajaActual"]),

    efectuarRetiro() {
      console.log("Retirando dinero");
      this.respuestas = {
        monto: parseInt(this.montoRetiro),
        motivo: this.motivo,
        retirar: this.retirar,
      };
      this.generarRetiro(this.respuestas);
    },

    today() {
      return moment().format("DD-MM-YYYY");
    },
  },

  created() {
    this.getCajaActual(this.today());
  },
};
</script>