<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Detalle de ventas realizadas
    </h3>
    <h3
      v-if="fechadeVentas"
      :class="{
        'title font-weight-light': $vuetify.breakpoint.smAndDown,
        'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
      }"
    >
      Revisando la fecha: {{ fechadeVentas }}
    </h3>
    <h3
      v-if="!fechadeVentas"
      :class="{
        'title font-weight-light': $vuetify.breakpoint.smAndDown,
        'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
      }"
    >
      No existen ventas registradas
    </h3>

    <v-divider></v-divider>

    <div class="mt-5">
      <v-data-table
        :headers="headersVentas"
        fixed-header
        :items="resumenCantidades"
        hide-default-footer
        class="elevation-2"
      >
        <template v-slot:item="row">
          <tr>
            <td>{{ row.item.name }}</td>
            <td>{{ row.item.efectivo }}</td>
            <td>{{ row.item.visas }}</td>
            <td>{{ row.item.vales }}</td>
            <td class="font-weight-bold">{{ row.item.kg }}</td>
          </tr>
        </template>
      </v-data-table>
    </div>
    <div v-if="pagado_local" class="mt-5">
      <h3
        :class="{
          'display-1': $vuetify.breakpoint.smAndDown,
          'display-2': $vuetify.breakpoint.md,
          'display-2': $vuetify.breakpoint.lgAndUp,
        }"
      >
        Pagados Local
      </h3>
      <h3
        :class="{
          'title font-weight-light': $vuetify.breakpoint.smAndDown,
          'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
        }"
      >
        Cilindros cancelados en local con despacho a domicilio
      </h3>

      <v-expansion-panels hover focusable inset>
        <v-expansion-panel v-for="(item, i) in pagados_local" :key="i">
          <v-expansion-panel-header
            >{{ item.cilindro.cantidad }} x {{ item.cilindro.kilo }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <ul>
              <li>Medio de pago: {{ item.formaPago }}</li>
              <li>Precio unitario: {{ item.cilindro.precioUnitario }}</li>
              <li>Vendedor: {{ item.vendedor.email }}</li>
              <li>Hora de venta: {{ item.hora }}</li>
              <li v-if="item.comentario">
                Comentario de venta: {{ item.comentario }}
              </li>
            </ul>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
    <v-divider class="mt-5"></v-divider>
    <ul>
      <li>
        <h3
          :class="{
            'title font-weight-light': $vuetify.breakpoint.smAndDown,
            'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
          }"
        >
          Kilos vendidos: {{ totalKilos }}
        </h3>
      </li>
      <li>
        <h3
          :class="{
            'title font-weight-light': $vuetify.breakpoint.smAndDown,
            'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
          }"
        >
          Dinero total: ${{
            totalDinero.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
          }}
        </h3>
      </li>
    </ul>

    <v-btn
      class="ma-2 mt-5"
      color="orange darken-2"
      dark
      @click="$router.push({ name: 'Inicio' })"
    >
      <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
    </v-btn>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import moment from "moment";
export default {
  name: "Sumario",
  data() {
    return {
      pagado_local: false,
      pagados_local: [],
      ventas5kg: 0,
      ventas11kg: 0,
      ventas15kg: 0,
      totalKilos: 0,
      totalDinero: 0,
      cilindros: [
        "5 Kilos",
        "11 Kilos",
        "15 Kilos",
        "45 Kilos",
        "VM Aluminio",
        "VM Fierro",
      ],
      resumenCantidades: [
        { name: "5 Kilos", kg: 0, visas: 0, efectivo: 0, vales: 0 }, // 5kg
        { name: "11 Kilos", kg: 0, visas: 0, efectivo: 0, vales: 0 }, // 11kg
        { name: "15 Kilos", kg: 0, visas: 0, efectivo: 0, vales: 0 }, // 15
        { name: "45 Kilos", kg: 0, visas: 0, efectivo: 0, vales: 0 }, // 45
        { name: "VM Aluminio", kg: 0, visas: 0, efectivo: 0, vales: 0 }, // vmAL
        { name: "VM Fierro", kg: 0, visas: 0, efectivo: 0, vales: 0 }, // vmF
      ],
      headersVentas: [
        { text: "Cilindro", align: "start", value: "name", sortable: false },
        {
          text: "Efectivo",
          value: "efectivo",
          align: "start",
          sortable: false,
        },
        { text: "Tarjeta", value: "visas", align: "start", sortable: false },
        { text: "Vales", value: "vales", align: "start", sortable: false },
        { text: "Ventas Totales", value: "kg", align: "start" },
      ],
    };
  },

  computed: {
    ...mapState(["ventas"]),

    fechadeVentas() {
      if (this.ventas.length > 0) return this.ventas[0].fecha;

      return null;
    },
  },

  methods: {
    resumirVentas() {
      let tubo = 0;
      this.ventas.forEach((element) => {
        if (element.despacho == "Si") {
          this.pagado_local = true;
          this.pagados_local.push(element);
        } else {
          tubo = element.cilindro.kilo.match(/\d+/g);
          this.totalKilos += tubo * parseInt(element.cilindro.cantidad);
          this.totalDinero +=
            parseInt(element.cilindro.precioUnitario) *
            parseInt(element.cilindro.cantidad);

          if (element.cilindro.kilo == "5 Kg" && element.formaPago == "Visa") {
            this.resumenCantidades[0].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[0].visas += parseInt(
              element.cilindro.cantidad
            );
          }
          if (
            element.cilindro.kilo == "5 Kg" &&
            element.formaPago == "Efectivo"
          ) {
            this.resumenCantidades[0].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[0].efectivo += parseInt(
              element.cilindro.cantidad
            );
          }
          if (element.cilindro.kilo == "5 Kg" && element.formaPago == "Vale") {
            this.resumenCantidades[0].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[0].vales += parseInt(
              element.cilindro.cantidad
            );
          }

          if (element.cilindro.kilo == "11 Kg" && element.formaPago == "Visa") {
            this.resumenCantidades[1].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[1].visas += parseInt(
              element.cilindro.cantidad
            );
          }
          if (
            element.cilindro.kilo == "11 Kg" &&
            element.formaPago == "Efectivo"
          ) {
            this.resumenCantidades[1].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[1].efectivo += parseInt(
              element.cilindro.cantidad
            );
          }
          if (element.cilindro.kilo == "11 Kg" && element.formaPago == "Vale") {
            this.resumenCantidades[1].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[1].vales += parseInt(
              element.cilindro.cantidad
            );
          }

          if (element.cilindro.kilo == "15 Kg" && element.formaPago == "Visa") {
            this.resumenCantidades[2].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[2].visas += parseInt(
              element.cilindro.cantidad
            );
          }
          if (
            element.cilindro.kilo == "15 Kg" &&
            element.formaPago == "Efectivo"
          ) {
            this.resumenCantidades[2].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[2].efectivo += parseInt(
              element.cilindro.cantidad
            );
          }
          if (element.cilindro.kilo == "15 Kg" && element.formaPago == "Vale") {
            this.resumenCantidades[2].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[2].vales += parseInt(
              element.cilindro.cantidad
            );
          }

          if (element.cilindro.kilo == "45 Kg" && element.formaPago == "Visa") {
            this.resumenCantidades[3].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[3].visas += parseInt(
              element.cilindro.cantidad
            );
          }
          if (
            element.cilindro.kilo == "45 Kg" &&
            element.formaPago == "Efectivo"
          ) {
            this.resumenCantidades[3].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[3].efectivo += parseInt(
              element.cilindro.cantidad
            );
          }
          if (element.cilindro.kilo == "45 Kg" && element.formaPago == "Vale") {
            this.resumenCantidades[3].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[3].vales += parseInt(
              element.cilindro.cantidad
            );
          }

          if (
            element.cilindro.kilo == "VM Aluminio" &&
            element.formaPago == "Visa"
          ) {
            this.resumenCantidades[4].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[4].visas += parseInt(
              element.cilindro.cantidad
            );
          }
          if (
            element.cilindro.kilo == "VM Aluminio" &&
            element.formaPago == "Efectivo"
          ) {
            this.resumenCantidades[4].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[4].efectivo += parseInt(
              element.cilindro.cantidad
            );
          }
          if (
            element.cilindro.kilo == "VM Aluminio" &&
            element.formaPago == "Vale"
          ) {
            this.resumenCantidades[4].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[4].vales += parseInt(
              element.cilindro.cantidad
            );
          }

          if (
            element.cilindro.kilo == "VM Fierro" &&
            element.formaPago == "Visa"
          ) {
            this.resumenCantidades[5].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[5].visas += parseInt(
              element.cilindro.cantidad
            );
          }
          if (
            element.cilindro.kilo == "VM Fierro" &&
            element.formaPago == "Efectivo"
          ) {
            this.resumenCantidades[5].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[5].efectivo += parseInt(
              element.cilindro.cantidad
            );
          }
          if (
            element.cilindro.kilo == "VM Fierro" &&
            element.formaPago == "Vale"
          ) {
            this.resumenCantidades[5].kg += parseInt(element.cilindro.cantidad);
            this.resumenCantidades[5].vales += parseInt(
              element.cilindro.cantidad
            );
          }
        }
      });
    },
  },

  created() {
    this.resumirVentas();
  },
};
</script>