<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Gestión de trabajadores
    </h3>

    <span class="subheading"> Gestión de sueldos y otros.</span>

    <v-divider class="my-3"></v-divider>

    <div v-if="carga" class="text-center mt-5">
      <h3>Cargando Contenido...</h3>
      <pulse-loader :loading="carga"></pulse-loader>
    </div>

    <div v-if="!carga">
      <v-btn
        block
        color="success"
        @click="$router.push({ name: 'AgregarTrabajador' })"
      >
        Agregar Trabajador</v-btn
      >

      <v-row>
        <v-col cols="6" md="4" v-for="(employee, rut) of employees" :key="rut">
          <v-card class="mx-auto" max-width="400" raised color="#f0f4c3">
            <v-card-text>
              <v-card-title
                >{{ employee.nombre }} {{ employee.apellido }}</v-card-title
              >

              <v-card-subtitle class="pb-0"
                >RUT: {{ employee.rut }}</v-card-subtitle
              >
            </v-card-text>
            <v-card-actions>
              <v-btn
                color="red"
                text
                @click="
                  $router.push({
                    name: 'Trabajador',
                    params: {
                      id: employee.id,
                      nombre: employee.nombre,
                      apellido: employee.apellido,
                    },
                  })
                "
              >
                Ver perfil
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </div>

    <div class="mt-3" v-if="carga">
      <v-btn
        class="ma-2"
        color="orange darken-2"
        dark
        @click="$router.push({ name: 'Inicio' })"
      >
        <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
      </v-btn>
    </div>
  </div>
</template>


<script>
import { mapState, mapActions } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";

export default {
  name: "Trabajadores",
  data() {
    return {
      cards: [
        {
          title: "Pre-fab homes",
          src: "https://cdn.vuetifyjs.com/images/cards/house.jpg",
          flex: 12,
        },
        {
          title: "Favorite road trips",
          src: "https://cdn.vuetifyjs.com/images/cards/road.jpg",
          flex: 6,
        },
        {
          title: "Best airlines",
          src: "https://cdn.vuetifyjs.com/images/cards/plane.jpg",
          flex: 6,
        },
      ],
    };
  },

  computed: {
    ...mapState(["carga", "employees"]),
  },

  methods: {
    ...mapActions(["getEmployees"]),
  },

  created() {
    this.getEmployees();
  },
  components: {
    PulseLoader,
  },
};
</script>