<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      {{ employee.nombre }} {{ employee.apellido }}
    </h3>
    <v-divider class="my-3"></v-divider>

    <div>
      <v-row>
        <v-col cols="12" md="6">
          <h3
            :class="{
              subheading: $vuetify.breakpoint.smAndDown,
              'display-1': $vuetify.breakpoint.md,
              'display-1': $vuetify.breakpoint.lgAndUp,
            }"
          >
            Resumen de meses previos
          </h3>
          <v-expansion-panels
            v-model="panel"
            :readonly="readonly"
            accordion
            focusable
          >
            <v-expansion-panel
              v-for="(item, index) of employee.sueldos"
              :key="index"
            >
              <v-expansion-panel-header>{{
                getMonth(item.mes)
              }}</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row class="font-weight-black">
                  <v-col cols="4"> Kilos vendidos:</v-col>
                  <v-col cols="4"> Sueldo bruto:</v-col>
                  <v-col cols="4"> Bono incluido: </v-col>
                </v-row>

                <v-row class="">
                  <v-col cols="4"> {{ item.kilosVendidos }} Kg</v-col>
                  <v-col cols="4"> ${{ item.sueldo }}</v-col>
                  <v-col cols="4"> ${{ item.bono }} </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>

        <v-col cols="12" md="6">
          <h3
            :class="{
              subheading: $vuetify.breakpoint.smAndDown,
              'display-1': $vuetify.breakpoint.md,
              'display-1': $vuetify.breakpoint.lgAndUp,
            }"
          >
            Sueldo actual
          </h3>
          <v-card color="orange" outlined>
            <v-card-title> Cálculo de sueldo actual y liquidación</v-card-title>
            <v-card-text>
              En este menú puedes generar la última liquidación de sueldo o
              bien, ingresar los kg vendidos en el mes previo.</v-card-text
            >
            <v-btn text>Generar liquidación</v-btn>
            <v-btn text>Ingresar kilos </v-btn>
          </v-card>
        </v-col>
      </v-row>
    </div>

    <div class="mt-3">
      <v-btn
        class="ma-2"
        color="orange darken-2"
        dark
        @click="$router.push({ name: 'Trabajadores' })"
      >
        <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
      </v-btn>
    </div>
  </div>
</template>


<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "Trabajador",
  data() {
    return {
      id: this.$route.params.id,
      panel: [0, 1],
      readonly: false,
    };
  },

  computed: {
    ...mapState(["carga", "employee"]),
  },
  methods: {
    ...mapActions(["getEmployee"]),

    getMonth(number) {
      var months = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ];
      number = number.replace(/^0+/, "");
      return months[number - 1];
    },
  },

  created() {
    this.getEmployee(this.id);
  },
};
</script>