<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-2': $vuetify.breakpoint.md,
        'display-3': $vuetify.breakpoint.lgAndUp,
      }"
    >
      Ventas Eliminadas
    </h3>
    <span
      :class="{
        'title font-weight-light': $vuetify.breakpoint.smAndDown,
        'headline font-weight-light': $vuetify.breakpoint.mdAndUp,
      }"
    >
      Historial de eliminación sobre ventas realizadas.</span
    >

    <v-divider class="my-3"></v-divider>
    <div v-if="carga" class="text-center mt-5">
      <h3>Cargando Contenido...</h3>
      <pulse-loader :loading="carga"></pulse-loader>
    </div>

    <div class="mt-5" v-if="!carga">
      <v-data-table
        :headers="headersVentas"
        fixed-header
        :items="sortedDeletedSales"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        hide-default-footer
        class="elevation-2"
        @page-count="pageCount = $event"
      >
        <template v-slot:item="row">
          <tr>
            <td>{{ row.item.cilindro.kilo }}</td>
            <td>{{ row.item.cilindro.precioUnitario }}</td>
            <td>{{ row.item.cilindro.cantidad }}</td>
            <td>{{ row.item.formaPago }}</td>
            <td>{{ row.item.fecha }}</td>
            <td>{{ row.item.hora }}</td>
            <td>{{ row.item.hora_eliminacion }}</td>
            <td>{{ row.item.vendedor.email }}</td>
            <td>
              <v-btn dark @click="eliminarVenta(row.item.id)">
                <v-icon color="red">delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination v-model="page" :length="pageCount"></v-pagination>
      </div>
    </div>

    <v-btn
      class="ma-2"
      color="orange darken-2"
      dark
      @click="$router.push({ name: 'Inicio' })"
      v-if="!carga"
    >
      <v-icon dark left>mdi-arrow-left</v-icon>Ir atrás
    </v-btn>
  </div>
</template>




<script>
import { mapState, mapActions } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  name: "VentasBorradas",
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 6,
    headersVentas: [
      {
        text: "Cilindro",
        align: "start",
        value: "cilindro.kilo",
      },
      { text: "Precio", value: "cilindro.precioUnitario", align: "start" },
      { text: "Cantidad", value: "cilindro.cantidad", align: "start" },
      { text: "Forma de pago", value: "formaPago", align: "start" },
      { text: "Fecha de venta", value: "fecha", align: "start" },
      { text: "Hora de venta", value: "hora", align: "start" },
      {
        text: "Hora de eliminación",
        value: "hora_eliminacion",
        align: "start",
      },
      { text: "Responsable", value: "vendedor.email", align: "start" },
      { text: "", sortable: false },
    ],
  }),

  components: {
    PulseLoader,
  },

  computed: {
    ...mapState(["ventasBorradas", "carga"]),

    sortedDeletedSales() {
      if (this.ventasBorradas != null) {
        let sortedSales = this.ventasBorradas.sort((a, b) =>
          a.fecha > b.fecha ? -1 : b.fecha > a.fecha ? 1 : 0
        );
        return sortedSales;
      }
      return null;
    },
  },

  methods: {
    ...mapActions(["getVentasBorradas", "terminarVenta"]),

    eliminarVenta(id) {
      this.terminarVenta(id);
    },
  },

  created() {
    this.getVentasBorradas();
  },
};
</script>