<template>
  <!-- Footer -->
  <footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      Made with <b-icon-heart-fill></b-icon-heart-fill> by
      <a href="#"> Héctor Astorga T. </a>
    </div>

    <div></div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</template>


<script>
export default {
  name: "Footer",
};
</script>


