<template>
  <div>
    <v-app-bar app clipped-left color="orange">
      <v-app-bar-nav-icon v-if="existeUsuario" @click="drawer = !drawer" />
      <span class="title ml-3 mr-5"
        >Abastible&nbsp;<span class="font-weight-light">Llay Llay</span></span
      >

      <v-spacer />
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn color="orange" @click="cerrarSesion" v-if="existeUsuario"
          >Cerrar Sesión</v-btn
        >
      </v-toolbar-items>
    </v-app-bar>

    <v-navigation-drawer
      v-if="existeUsuario"
      v-model="drawer"
      app
      clipped
      color="grey lighten-4"
    >
      <v-list dense class="grey lighten-4">
        <template>
          <v-list-item @click="toHome">
            <v-list-item-action>
              <v-icon> home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="grey--text"> Inicio </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item @click="cerrarSesion">
            <v-list-item-action>
              <v-icon> lock</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="grey--text">
                Cerrar Sesión
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-divider dark class="my-1" />

          <v-row>
            <v-col cols="6">
              <v-subheader> Ventas </v-subheader>
            </v-col>
            <v-col cols="6" class="text-right"> </v-col>
          </v-row>
          <v-list-item @click="addSale">
            <v-list-item-action>
              <v-icon> add</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="grey--text">
                Agregar nueva venta
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item @click="toSumary">
            <v-list-item-action>
              <v-icon> format_list_bulleted</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="grey--text">
                Detalle de ventas de hoy
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-divider dark class="my-1" />

          <v-row>
            <v-col cols="6">
              <v-subheader> Caja </v-subheader>
            </v-col>
            <v-col cols="6" class="text-right"> </v-col>
          </v-row>

          <v-list-item @click="toCashier">
            <v-list-item-action>
              <v-icon> local_atm </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="grey--text">
                Retirar/Agregar Caja
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <div v-if="rol.admin">
            <v-divider dark class="my-1" />

            <v-row>
              <v-col cols="6">
                <v-subheader> Administrador </v-subheader>
              </v-col>
              <v-col cols="6" class="text-right"> </v-col>
            </v-row>

            <v-list-item @click="toBorradas">
              <v-list-item-action>
                <v-icon> restore_from_trash</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="grey--text">
                  Ver ventas borradas
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item @click="toFacturacion">
              <v-list-item-action>
                <v-icon> monetization_on </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="grey--text">
                  Facturación
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
        </template>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>



<script>
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  name: "Header",
  data() {
    return {
      drawer: null,
      items: [
        { icon: "person", text: "Ingreso", userNeeded: false },
        { icon: "lock", text: "Cerrar Sesión", userNeeded: true },
        { divider: true },
        { heading: "Venta", userNeeded: true },
        { icon: "add", text: "Agregar Nueva Venta", userNeeded: true },
        { icon: "archive", text: "Resumen de ventas", userNeeded: true },
        { divider: true },
        { icon: "archive", text: "Retirar/Agregar Caja", userNeeded: true },
        { icon: "delete", text: "Trash" },
      ],
    };
  },

  computed: {
    ...mapState(["usuario", "rol"]),
    ...mapGetters(["existeUsuario"]),
  },

  methods: {
    ...mapActions(["cerrarSesion"]),

    toHome() {
      const path = `/`;
      if (this.$route.path !== path) {
        this.$router.push({ name: "Inicio" });
      }
    },
    addSale() {
      const path = `/agregar`;
      if (this.$route.path !== path) {
        this.$router.push({ name: "Agregar" });
      }
    },

    toSumary() {
      const path = `/resumen`;
      if (this.$route.path !== path) {
        this.$router.push({ name: "Sumario" });
      }
    },

    toCustomers() {
      const path = `/clientes`;
      if (this.$route.path !== path) {
        this.$router.push({ name: "Clientes" });
      }
    },
    toCashier() {
      if (this.existeUsuario) {
        const path = `/retirar`;
        if (this.$route.path !== path) {
          this.$router.push({ name: "RetiroCaja" });
        }
      }
    },
    toBorradas() {
      if (this.existeUsuario && this.rol.admin) {
        const path = `/deletedSells`;
        if (this.$route.path !== path) {
          this.$router.push({ name: "VentasBorradas" });
        }
      }
    },

    toFacturacion() {
      if (this.existeUsuario && this.rol.admin) {
        const path = `/facturacion`;
        if (this.$route.path !== path) {
          this.$router.push({ name: "Facturacion" });
        }
      }
    },

    toWorkers() {
      if (this.existeUsuario) {
        const path = `/trabajadores`;
        if (this.$route.path !== path) {
          this.$router.push({ name: "Trabajadores" });
        }
      }
    },
  },
};
</script>