<template>
  <div>
    <h3
      :class="{
        'display-1': $vuetify.breakpoint.smAndDown,
        'display-1': $vuetify.breakpoint.md,
        'display-2': $vuetify.breakpoint.lgAndUp,
      }"
      v-if="!carga"
    >
      Historial de movimientos
    </h3>

    <div v-if="carga" class="text-center mt-5">
      <h3>Cargando Contenido...</h3>
      <pulse-loader :loading="carga"></pulse-loader>
    </div>

    <form @submit.prevent="buscador(texto)" v-if="!carga">
      <v-text-field
        v-model="texto"
        append-icon="mdi-magnify"
        label="Buscar"
        v-on:keyup="buscador(texto)"
      ></v-text-field>
    </form>

    <div class="mt-1" v-if="!carga">
      <v-data-table
        :headers="headers"
        :items="retirosFiltrados"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :sort-by="['fecha', 'hora']"
        :sort-desc="[true, true]"
        hide-default-footer
        class="elevation-2"
        @page-count="pageCount = $event"
      >
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination v-model="page" :length="pageCount"></v-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  name: "HistorialRetiros",

  data() {
    return {
      texto: "",

      headers: [
        { text: "Monto", align: "start", value: "monto" },
        { text: "Motivo", value: "motivo" },
        { text: "Responsable", value: "responsable" },
        { text: "Fecha", value: "fecha" },
        { text: "Hora", value: "hora" },
      ],
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
    };
  },
  components: {
    PulseLoader,
  },

  computed: {
    ...mapState(["retiros", "carga"]),
    ...mapGetters(["retirosFiltrados"]),
  },
  methods: {
    ...mapActions(["getRetiros", "buscador"]),
  },

  created() {
    this.getRetiros();
  },
};
</script>