<template>
  <v-app>
    <v-content>
      <Header></Header>
      <v-container>
        <router-view />
      </v-container>

      <Footer></Footer>
    </v-content>
  </v-app>
</template>

<script>
import Footer from "@/components/Footer.vue";
import Header from "@/components/Header.vue";
export default {
  name: "App",

  components: {
    Footer,
    Header,
  },

  data: () => ({
    //
  }),
};
</script>
